body{
  background-image: url("/src/images/home_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.paloma-svg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fixed-left{
  color: #e8e8e8;
  margin-left: 30px;
}

ul{
  transform-origin: bottom left;
  transform: rotate(-90deg);
  position: fixed;
  padding: 0;
  bottom: 0;
  right: 0;
  /* margin-right: -300px; */
}

a {
  color: #b5b5b5;
  font-size: 80px;
  text-decoration: none;
}
