body{
  background-image: url("/src/images/home_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.paloma-svg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fixed-left{
  color: #e8e8e8;
  margin-left: 30px;
}

ul{
  transform-origin: bottom right;
  transform: rotate(270deg);
  position: fixed;
  padding: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  bottom: 380px;
  list-style: none;
}

a {
  color: #b5b5b5;
  font-size: 100px;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .paloma-class{
    width: 150px;
  }

  .rotated-text{
    align-self: center;
  }

  ul {
    list-style: none;
    transform: none;
    position: static;
    bottom: auto;
    right: auto;
  }

  a {
    font-size: 32px;
  }
}

@media only screen and (min-width: 1024px) {

  ul{
    bottom: 200px;
  }

  a {
    font-size: 50px;
  }
}

@media only screen and (min-width: 1440px ) {

  ul{
    bottom: 250px;
  }

  a {
    font-size: 70px;
  }
}

@media only screen and (min-width: 2560px) {
  .paloma-class{
    width: 350px;
  }

  a {
    font-size: 100px;
  }

  ul{
    bottom: 380px;
  }
}